name: License Header Check
on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'MilestonePSTools/**/*.ps1'
      - 'src/**/*.cs'
jobs:
  CheckLicenseHeaders:
    name: Check License Headers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
    
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
          cache: false

      - name: Install NWA
        run: go install github.com/B1NARY-GR0UP/nwa@v0.7.2

      - name: Run License Header Check
        run: nwa check -l apache -c "Milestone Systems A/S" -y 2025 --fuzzy -k "Licensed under the Apache License" --skip "src/MilestonePSTools/obj/**" "MilestonePSTools/**/*.ps1" "src/**/*.cs"